@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
@font-face {
    font-family: "cataclism";
    src: url(fonts/Inkfree.ttf);
}
@font-face {
    font-family: "avara";
    src: url(fonts/Avara-Bold.otf);
}
@font-face {
    font-family: "avara-bold";
    src: url(fonts/Avara-Black.otf);
}
@font-face {
    font-family: "avara-bolditalic";
    src: url(fonts/Avara-BoldItalic.otf);
}

body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
}

.noturno {
    background-image: url(assets/FundoNoturno.png);
}

.claro {
    background-image: url(assets/FundoClaro.png);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.personagem {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#personagens-escolha {
    font-size: 20px;
    padding: 10px;
    padding-left: 34px;
    padding-right: 34px;
    border-radius: 10px;
    border-style: dashed;
    appearance: none;
    font-weight:600;
}

#cosmo {
    font-family: "Doto", sans-serif;
    background-color: rgb(0, 17, 26);
    color: #00ff95;
}

#cataclismo {
    font-family: "cataclism";
    background-color: rgb(67, 0, 0);
    color: #f6ff00;
}

#tema-escolha {
    font-size: 20px;
    padding: 10px;
    padding-right: 34px;
    border-radius: 10px;
    border-radius: 10px;
    border-style: dashed;
    appearance: none;
    font-weight:600;
}

#personagens-escolha:hover {
    border-style: solid;
}

#personagens-escolha:focus {
    outline: none;
}

.cabecalhos-n {
    font-family: "Big Shoulders", sans-serif;
    color:rgb(255, 255, 255);
    background-color: black;
    box-shadow: 0 10px 25px rgb(0, 0, 0);
}

.cabecalhos-n:hover {
    background-color: rgb(17, 17, 17);
}

.cabecalhos-c {
    font-family: "Big Shoulders", sans-serif;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 185, 255);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.767);
}

.cabecalhos-c:hover {
    background-color: rgb(255, 199, 255);
}

.aparencia {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#modos:hover {
    cursor: pointer;
}

p {
    font-size: 350%;
    margin: 0;
}

#testeroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 0%;
    gap: 5px;
    background-size: 580px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
    padding-bottom: 9%;
    font-style: normal;
}

.testeroll_n {
    background-image: url(assets/boxcosmo.png);
}

.testeroll_c {
    background-image: url(assets/boxcosmoclaro.png);
}

.rolenoturno {
    font-family: "Doto", sans-serif;
    font-weight: 600;
    margin-top: 4.8%;
    color:rgb(0, 255, 234);
    text-shadow: 0px 0px 30px rgb(0, 255, 234);
}

.roleclaro {
    margin-top: 4.8%;
    color: #410036;
    font-family: "Big Shoulders", sans-serif;
}

#testeroll__pericia {
    font-size: 22px;
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
}

#testeroll__pericia:hover {
    border-style: solid;
}

#testeroll__pericia:focus {
    outline: none;
}

#testeroll__atributo {
    font-size: 22px;
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
}

#testeroll__atributo:hover {
    border-style: solid;
}

#testeroll__atributo:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}

#vantagens__pericia {
    font-size: 15px;
    font-style: normal;
    padding: 5px;
    border-radius: 50px;
    appearance: none;
    border-style: solid;
    text-align: center;
}

#vantagens__pericia:focus {
    outline: none;
}

#vantagens__atributo {
    font-size: 15px;
    font-style: normal;
    padding: 5px;
    border-radius: 50px;
    appearance: none;
    border-style: solid;
    text-align: center;
}

#vantagens__atributo:focus {
    outline: none;
}

.prc_atr_n {
    color: #00ffc3;
    font-family: "Big Shoulders", sans-serif;
    font-weight:800;
    font-style:italic;
    background-color: black;
    box-shadow: 0 10px 25px black;
}

.prc_atr_n:hover {
    background-color: rgb(17, 17, 17);
}

.prc_atr_c {
    color: #380038;
    font-family: "Big Shoulders", sans-serif;
    font-weight:800;
    font-style:italic;
    background-color: rgb(163, 79, 162);
    border-color: #380038;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.745);
}

.prc_atr_c:hover {
    background-color: rgb(176, 89, 175);
}

#botao-rolar {
    cursor: pointer;
    border-radius: 10px;
    padding: 0px 40px;
    margin: 1%;
}

#botao-rolar:hover {
    padding: 5px 45px;
    width: 4.2%;
}

.botao-n {
    border-color: #00ff95;
    border-style: double;
    background-color: #10281e;
    box-shadow: 0px 0px 50px rgba(0, 255, 145, 0.679);
}

.botao-n:hover {
    background-color: #1b3f30;
    border-style: solid;
}

.botao-c {
    border-color: #551d55;
    border-style: double;
    background-color: #ce79c4;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.866);
}

.botao-c:hover {
    background-color: #d785cd;
    border-style: solid;
}

.valores-iniciais {
    display: flex;
    flex-direction: row;
}

.valoresiniciais-n {
    font-family: "Doto", sans-serif;
    color: aqua;
    font-size: 110%;
    font-weight: 600;
}

.resultadoinicial-n {
    font-family: "Doto", sans-serif;
    color:magenta;
    font-size: 160%;
    font-weight: 600;
}

.resultadofinal-n {
    font-family: "Doto", sans-serif;
    color:lime;
    font-size: 300%;
    font-weight: 600;
    font-weight: bold;
    text-shadow: 0px 0px 30px rgb(13, 255, 0);
}

.valoresiniciais-c {
    color: rgb(105, 25, 44);
    font-size: 110%;
    font-family: "Big Shoulders", sans-serif;
}

.resultadoinicial-c {
    color:rgb(75, 11, 101);
    font-size: 160%;
    font-family: "Big Shoulders", sans-serif;
}

.resultadofinal-c {
    color:rgb(112, 10, 107);
    font-size: 300%;
    font-weight: bold;
    font-family: "Big Shoulders", sans-serif;
}