@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
@font-face {
    font-family: "cataclism";
    src: url(fonts/Inkfree.ttf);
}
@font-face {
    font-family: "avara";
    src: url(fonts/Avara-Bold.otf);
}
@font-face {
    font-family: "avara-bold";
    src: url(fonts/Avara-Black.otf);
}
@font-face {
    font-family: "avara-bolditalic";
    src: url(fonts/Avara-BoldItalic.otf);
}

body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    background-color: black;
}

.noturno {
    background-image: url(assets/CataclismoFundoNoturno.png);
}

.claro {
    background-image: url(assets/CataclismoFundoClaro.png);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.personagem {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#personagens-escolha {
    font-size: 20px;
    padding: 10px;
    padding-left: 34px;
    padding-right: 34px;
    border-radius: 10px;
    border-style: dashed;
    appearance: none;
    font-weight:600;
}

#cosmo {
    font-family: "Doto", sans-serif;
    background-color: rgb(0, 17, 26);
    color: #00ff95;
}

#cataclismo {
    font-family: "cataclism";
    background-color: rgb(67, 0, 0);
    color: #f6ff00;
}

#aquarela {
    font-family: "cataclism";
    font-weight: bold;
    color:rgb(255, 225, 0);
    background-color: rgb(102, 164, 226);
}

#tema-escolha {
    font-size: 20px;
    padding: 10px;
    padding-right: 34px;
    border-radius: 10px;
    border-radius: 10px;
    border-style: dashed;
    appearance: none;
    font-weight:600;
}

#personagens-escolha:hover {
    border-style: solid;
}

#personagens-escolha:focus {
    outline: none;
}

.cabecalhos-n {
    font-family: "cataclism";
    color:rgb(255, 255, 255);
    background-color: rgb(23, 0, 0);
    box-shadow: 0 10px 25px rgb(0, 0, 0);
}

.cabecalhos-n:hover {
    background-color: rgb(34, 1, 1);
}

.cabecalhos-c {
    font-family: "avara";
    text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.662);
    color:rgb(0, 0, 0);
    border-color: rgb(16, 39, 57);
    background-color: rgb(161, 197, 217);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.767);
}

.cabecalhos-c:hover {
    background-color: rgb(207, 231, 246);
}

.funcoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 150px;
    gap: 20px;
}

.botoes-superiores {
    margin-top: 23px;
    width: 80px;
}

.botoes-superiores:hover {
    cursor: pointer;
}

.aparencia {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#modos:hover {
    cursor: pointer;
}

.invisivel {
    display:none;
}

p {
    font-size: 350%;
    margin: 0;
}

#testeroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 0%;
    gap: 5px;
    background-size: 580px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
    padding-bottom: 9%;
    font-style: normal;
}

.testeroll_n {
    background-image: url(assets/boxcataclismo.png);
}

.testeroll_c {
    background-image: url(assets/boxcataclismoclaro.png);
    position: 20px;
}

.rolenoturno {
    font-family: "cataclism";
    margin-top: 4.8%;
    color:#eeff00;
    text-shadow: 0px 0px 30px #eeff00;
}

.roleclaro {
    font-weight: 600;
    margin-top: 5.6%;
    color: #d81300;
    text-shadow: 2px 1px 0px black;
    font-size: 300%;
    font-family: "avara";
}

#testeroll__pericia {
    font-size: 22px;
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
}

#testeroll__pericia:hover {
    border-style: solid;
}

#testeroll__pericia:focus {
    outline: none;
}

#testeroll__atributo {
    font-size: 22px;
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
}

#testeroll__atributo:hover {
    border-style: solid;
}

#testeroll__atributo:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}

#vantagens__pericia {
    font-size: 15px;
    font-style: normal;
    padding: 5px;
    border-radius: 50px;
    appearance: none;
    border-style: solid;
    text-align: center;
}

#vantagens__pericia:focus {
    outline: none;
}

#vantagens__atributo {
    font-size: 15px;
    font-style: normal;
    padding: 5px;
    border-radius: 50px;
    appearance: none;
    border-style: solid;
    text-align: center;
}

#vantagens__atributo:focus {
    outline: none;
}

#vantagens__atributo-solo {
    font-size: 15px;
    font-style: normal;
    padding: 5px;
    border-radius: 50px;
    appearance: none;
    border-style: solid;
    text-align: center;
}

#vantagens__atributo-solo:focus {
    outline: none;
}

.prc_atr_n {
    color: #eeff00;
    font-family: "cataclism";
    font-style:italic;
    background-color: rgb(23, 0, 0);
    border-color: #5b1717;
    box-shadow: 0 10px 25px black;
}

.prc_atr_n:hover {
    background-color: rgb(34, 1, 1);
}

.prc_atr_c {
    color: #001234;
    font-family: "avara";
    font-style:italic;
    text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.48);
    background-color: rgb(66, 129, 180);
    border-color: rgb(16, 39, 57);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.745);
}

.prc_atr_c:hover {
    background-color: rgb(80, 143, 195);
}

#botao-rolar {
    cursor: pointer;
    border-radius: 10px;
    padding: 0px 40px;
    margin: 1%;
}

#botao-rolar:hover {
    padding: 5px 45px;
    width: 4.2%;
}

.botao-n {
    border-color: #eeff00e0;
    border-style: solid;
    background-image: url("assets/botaocataclismo.png");
    box-shadow: 0px 0px 50px #eeff00e0;
}

.botao-n:hover {
    background-image: url("assets/botaocataclismohover.png");
    border-style: solid;
}

.botao-c {
    border-color: #153c4a;
    border-style: solid;
    background-image: url("assets/botaocataclismoclaro.png");
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.866);
}

.botao-c:hover {
    background-image: url("assets/botaocataclismoclarohover.png");
    border-style: solid;
}

.valores-iniciais {
    display: flex;
    flex-direction: row;
}

.valoresiniciais-n {
    font-family: "cataclism";
    font-size: 110%;
    font-weight: 300;
    color: rgb(255, 0, 0);
}

.resultadoinicial-n {
    font-family: "cataclism";
    font-size: 160%;
    font-weight: 300;
    color:rgb(170, 0, 255);
}

.resultadofinal-n {
    font-family: "cataclism";
    color:rgb(251, 255, 0);
    font-size: 300%;
    font-weight: bold;
    text-shadow: 0px 0px 30px rgb(251, 255, 0);
}

.valoresiniciais-c {
    font-family: "avara";
    font-size: 100%;
    font-weight: 800;
    text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.617);
    color: rgb(14, 69, 69);
}

.resultadoinicial-c {
    font-family: "avara";
    font-size: 140%;
    font-weight: 600;
    text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.617);
    color:rgb(11, 70, 45);
}

.resultadofinal-c {
    color:rgb(0, 22, 191);
    font-size: 270%;
    font-family: "avara-bold";
    text-shadow: 3px 1px 0px black;
}

#titulo2 {
    margin-top:110px;
}

#comparaSize {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 0%;
    gap: 5px;
    background-size: 610px;
    background-repeat: no-repeat;
    background-position: 50% 56%;
    background-attachment: fixed;
    padding-bottom: 9%;
    font-style: normal;   
}

#size-type {
    font-size: 18px;
    font-style: normal;
    margin-bottom: 20px;
    border-radius: 5px;
    border-style: dashed;
}

#size-type:hover {
    border-style: solid;
}

#size-type:focus {
    outline: none;
}

#altura-escolha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

#eu-altura {
    font-size: 20px;
    font-style: normal;
    border-radius: 20px;
    appearance: none;
    border-style: solid;
    text-align: center;
    height: 50px;
    width: 200px;
}

#ele-altura {
    font-size: 20px;
    font-style: normal;
    border-radius: 20px;
    appearance: none;
    border-style: solid;
    text-align: center;
    height: 50px;
    width: 200px;
}

#eu-altura2 {
    font-size: 22px;
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
    width: 210px;
}

#ele-altura2 {
    font-size: 22px;
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
    width: 210px;
}

#eu-altura3 {
    font-size: 22px;
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
    width: 210px;
}

#ele-altura3 {
    font-size: 22px;
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
    width: 210px;
}

#botao-compararsize {
    cursor: pointer;
    border-radius: 10px;
    padding: 0px 40px;
    margin: 3px;
}

#botao-compararsize:hover {
    padding: 5px 45px;
    width: 4.2%;
}

#ataque-vantagem {
    font-size: 30px;
}

#esquiva-vantagem {
    font-size: 30px;
}

#dano-adicional {
    font-size: 30px;
}

.ataquevantagem-n {
    font-family: "cataclism";
    font-size: 110%;
    font-weight: bold;
    color: rgb(255, 0, 0);
    text-shadow: 0px 0px 30px rgb(255, 0, 0);
}

.esquivavantagem-n {
    font-family: "cataclism";
    font-size: 160%;
    font-weight: bold;
    color:rgb(170, 0, 255);
    text-shadow: 0px 0px 30px rgb(170, 0, 255);
}

.danoadicional-n {
    font-family: "cataclism";
    color:rgb(251, 255, 0);
    font-size: 400;
    font-weight: bold;
    text-shadow: 0px 0px 30px rgb(251, 255, 0);
}

.ataquevantagem-c {
    padding-top: 10px;
    font-family: "avara";
    font-size: 100%;
    text-shadow: 3px 1px 0px black;
    color:rgb(0, 156, 191);
}

.esquivavantagem-c {
    font-family: "avara";
    font-size: 100%;
    text-shadow: 3px 1px 0px black;
    color:rgb(0, 105, 191);
}

.danoadicional-c {
    color:rgb(0, 22, 191);
    font-size: 100%;
    font-family: "avara";
    text-shadow: 3px 1px 0px black;
}

#codigo {
    height: 80%;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: -190px;
}

.perso-e-codigo {
    display: flex;
    flex-direction: row;
    gap: 0px;
}