@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    color:#75ffe3;
    font-family: "Doto", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.corpo-n1 {
    background-image: url(assets/FundoNoturno.png);
}

.corpo-n2 {
    background-image: url(assets/dice.png);
}

.personagem {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#personagens-escolha {
    font-size: 20px;
    padding: 10px;
    color:rgb(255, 255, 255);
    background-color: black;
    border-radius: 10px;
    border-style: dashed;
    box-shadow: 0 10px 25px rgb(0, 0, 0);
    appearance: none;
}

#personagens-escolha:hover {
    background-color: rgb(17, 17, 17);
    border-style: solid;
}

#personagens-escolha:focus {
    outline: none;
}

p {
    font-size: 350%;
    margin: 0;
}

.testeroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 0%;
    gap: 5px;
    background-image: url(assets/boxcosmo.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
    padding-bottom: 10%;
    
}

#escolhaerole {
    margin-top: 4.8%;
}

#testeroll__pericia {
    font-size: 20px;
    padding: 10px;
    color:#00ffc3;
    background-color: black;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    border-color: #00ffc3;
    text-align: center;
    box-shadow: 0 10px 25px black;
}

#testeroll__pericia:hover {
    background-color: rgb(17, 17, 17);
    border-style: solid;
}

#testeroll__atributo:hover {
    background-color: rgb(17, 17, 17);
    border-style: solid;
}

#testeroll__pericia:focus {
    outline: none;
}

#testeroll__atributo:focus {
    outline: none;
}

#testeroll__atributo {
    font-size: 20px;
    padding: 10px;
    color: #00ffc3;
    background-color: black;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    border-color: #00ffc3;
    text-align: center;
    box-shadow: 0 10px 25px black;
}

.botao-rolar {
    cursor: pointer;
    border-style:double;
    border-color: #00ff95;
    background-color: #10281e;
    border-radius: 10px;
    padding: 0px 40px;
    margin: 1%;
    box-shadow: 0px 0px 50px rgba(0, 255, 145, 0.679);
}

.botao-rolar:hover {
    background-color: #1b3f30;
    border-style: solid;
    padding: 5px 45px;
    width: 4.2%;
}

#testeroll__valoresiniciais {
    color: aqua;
    font-size: 110%;
}

#testeroll__resultadoinicial {
    color:magenta;
    font-size: 160%;
}

#testeroll__resultadofinal {
    color:lime;
    font-size: 300%;
    font-weight: bold;
}