@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');

body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
}

.noturno1 {
    background-image: url(assets/FundoNoturno.png);
}

.claro1 {
    background-image: url(assets/FundoClaro.png);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.personagem {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#personagens-escolha {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border-style: dashed;
    appearance: none;
    font-family: "Big Shoulders", sans-serif;
    font-weight:600;
}

#personagens-escolha:hover {
    border-style: solid;
}

#personagens-escolha:focus {
    outline: none;
}

.personagens-n1 {
    color:rgb(255, 255, 255);
    background-color: black;
    box-shadow: 0 10px 25px rgb(0, 0, 0);
}

.personagens-n1:hover {
    background-color: rgb(17, 17, 17);
}

.personagens-c1 {
    color:rgb(0, 0, 0);
    background-color: rgb(255, 185, 255);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.767);
}

.personagens-c1:hover {
    background-color: rgb(255, 199, 255);
}

#modos:hover {
    cursor: pointer;
}

p {
    font-size: 350%;
    margin: 0;
}

#testeroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 0%;
    gap: 5px;
    background-size: 580px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
    padding-bottom: 9%;
    font-family: "Doto", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.testeroll_n1 {
    background-image: url(assets/boxcosmo.png);
}

.testeroll_c1 {
    background-image: url(assets/boxcosmoclaro.png);
}

.rolenoturno1 {
    margin-top: 4.8%;
    color:#75ffe3;
    text-shadow: 0px 0px 30px rgb(0, 255, 234);
}

.roleclaro1 {
    margin-top: 4.8%;
    color: #410036;
    font-family: "Big Shoulders", sans-serif;
} 

#testeroll__pericia {
    font-size: 22px;
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
    font-family: "Big Shoulders", sans-serif;
    font-weight:800;
    font-style:italic;
}

#testeroll__pericia:hover {
    border-style: solid;
}

#testeroll__pericia:focus {
    outline: none;
}

#testeroll__atributo {
    font-size: 22px;
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
    font-family: "Big Shoulders", sans-serif;
    font-weight:800;
    font-style:italic;
}

#testeroll__atributo:hover {
    border-style: solid;
}

#testeroll__atributo:focus {
    outline: none;
}

.prc_atr_n1 {
    color: #00ffc3;
    background-color: black;
    box-shadow: 0 10px 25px black;
}

.prc_atr_n1:hover {
    background-color: rgb(17, 17, 17);
}

.prc_atr_c1 {
    color: #380038;
    background-color: rgb(163, 79, 162);
    border-color: #380038;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.745);
}

.prc_atr_c1:hover {
    background-color: rgb(176, 89, 175);
}

#botao-rolar {
    cursor: pointer;
    border-style:double;
    border-radius: 10px;
    padding: 0px 40px;
    margin: 1%;
}

#botao-rolar:hover {
    border-style: solid;
    padding: 5px 45px;
    width: 4.2%;
}

.botao-n1 {
    border-color: #00ff95;
    background-color: #10281e;
    box-shadow: 0px 0px 50px rgba(0, 255, 145, 0.679);
}

.botao-n1:hover {
    background-color: #1b3f30;
}

.botao-c1 {
    border-color: #551d55;
    background-color: #ce79c4;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.866);
}

.botao-c1:hover {
    background-color: #d785cd;
}

.valoresiniciais-n1 {
    color: aqua;
    font-size: 110%;
}

.resultadoinicial-n1 {
    color:magenta;
    font-size: 160%;
}

.resultadofinal-n1 {
    color:lime;
    font-size: 300%;
    font-weight: bold;
    text-shadow: 0px 0px 30px rgb(13, 255, 0);
}

.valoresiniciais-c1 {
    color: rgb(105, 25, 44);
    font-size: 110%;
    font-family: "Big Shoulders", sans-serif;
}

.resultadoinicial-c1 {
    color:rgb(75, 11, 101);
    font-size: 160%;
    font-family: "Big Shoulders", sans-serif;
}

.resultadofinal-c1 {
    color:rgb(112, 10, 107);
    font-size: 300%;
    font-weight: bold;
    font-family: "Big Shoulders", sans-serif;
}