@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
@font-face {
    font-family: "cataclism";
    src: url(fonts/Inkfree.ttf);
}
@font-face {
    font-family: "avara";
    src: url(fonts/Avara-Bold.otf);
}
@font-face {
    font-family: "avara-bold";
    src: url(fonts/Avara-Black.otf);
}
@font-face {
    font-family: "avara-bolditalic";
    src: url(fonts/Avara-BoldItalic.otf);
}
@font-face {
    font-family: "sylfaen";
    src: url(fonts/sylfaen.ttf);
}

body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    background-color: black;
}

.noturno {
    background-image: url(assets/AquarelaFundoNoturno.png);
    transition: 150ms ease;
}

.claro {
    background-image: url(assets/AquarelaFundoClaro.png);
    transition: 150ms ease;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.personagem {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#personagens-escolha {
    font-size: 20px;
    padding: 10px;
    padding-left: 34px;
    padding-right: 34px;
    border-radius: 10px;
    border-style: dashed;
    appearance: none;
    font-weight:600;
    transition: 150ms ease;
}

#cosmo {
    font-family: "Doto", sans-serif;
    background-color: rgb(0, 17, 26);
    color: #00ff95;
}

#cataclismo {
    font-family: "cataclism";
    background-color: rgb(67, 0, 0);
    color: #f6ff00;
}

#aquarela {
    font-family: "cataclism";
    font-weight: bold;
    color:rgb(255, 225, 0);
    background-color: rgb(102, 164, 226);
}

#tormenta {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color:aqua;
    background-color: rgb(88, 0, 129);
}

#tema-secreto-1 {
    font-family: "Big Shoulders", sans-serif;
    font-weight: bold;
    color:rgb(197, 152, 120);
    background-color: rgb(0, 96, 0);
}

#tema-escolha {
    font-size: 20px;
    padding: 10px;
    padding-right: 34px;
    border-radius: 10px;
    border-radius: 10px;
    border-style: dashed;
    appearance: none;
    font-weight:600;
    transition: 150ms ease;
}

#tema-escolha:hover {
    border-style: solid;
    cursor: pointer;
}

#personagens-escolha:hover {
    border-style: solid;
    cursor: pointer;
}

#personagens-escolha:focus {
    outline: none;
}

.cabecalhos-n {
    font-family: "sylfaen";
    color:rgb(255, 255, 255);
    background-color: rgb(19, 9, 0);
    box-shadow: 0 10px 25px rgb(0, 0, 0);
    transition: 150ms ease;
}

.cabecalhos-n:hover {
    background-color: rgb(36, 18, 2);
}

.cabecalhos-c {
    font-family: "cataclism";
    color:rgb(0, 0, 0);
    border-color: rgb(16, 39, 57);
    background-color: rgb(192, 233, 255);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.767);
    transition: 150ms ease;
}

.cabecalhos-c:hover {
    background-color: rgb(207, 231, 246);
}

.funcoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 100px;
    gap: 20px;
}

#funcao-rolar {
    transition: 150ms ease;
}

#funcao-rolar:hover {
    filter:invert();
}

#funcao-atributo {
    transition: 150ms ease;
}

#funcao-atributo:hover {
    filter:invert();
}

#funcao-size {
    transition: 150ms ease;
}

#funcao-size:hover {
    filter:invert();
}

#funcao-mapa {
    transition: 150ms ease;
}

#funcao-mapa:hover {
    filter:invert();
}

.botoes-superiores {
    margin-top: 23px;
    width: 80px;
}

.botoes-superiores:hover {
    cursor: pointer;
}

.aparencia {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#modos {
    transition: 150ms ease;
}

#modos:hover {
    cursor: pointer;
    filter:invert();
}

.invisivel {
    display:none;
}

p {
    font-size: 350%;
    margin: 0;
}

#testeroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 0%;
    gap: 5px;
    background-size: 580px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
    padding-bottom: 9%;
    font-style: normal;
}

.testeroll_n {
    background-image: url(assets/boxaquarela.png);
    transition: 150ms ease;
}

.testeroll_c {
    background-image: url(assets/boxaquareladiurno.png);
    transition: 150ms ease;
    position: 20px;
}

.rolenoturno {
    font-family:"sylfaen";
    margin-top: 2.2%;
    color:#ffe1a8;
    text-shadow: 0px 0px 30px #ffd29f;
}

.roleclaro {
    font-weight: 600;
    margin-top: 2.3%;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.57);
    font-size: 300%;
    font-family: "cataclism";
}

#testeroll__pericia {
    font-size: 22px;
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
    transition: 150ms ease;
}

#testeroll__pericia:hover {
    border-style: solid;
    cursor: pointer;
}

#testeroll__pericia:focus {
    outline: none;
}

#testeroll__atributo {
    font-size: 22px;
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
    transition: 150ms ease;
}

#testeroll__atributo:hover {
    border-style: solid;
    cursor: pointer;
}

#testeroll__atributo:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}

#vantagens__pericia {
    font-size: 15px;
    font-style: normal;
    padding: 5px 0px;
    border-radius: 50px;
    appearance: none;
    border-style: solid;
    text-align: center;
    transition: 150ms ease;
}

#vantagens__pericia:focus {
    outline: none;
}

#vantagens__atributo {
    font-size: 15px;
    font-style: normal;
    padding: 5px 0px;
    border-radius: 50px;
    appearance: none;
    border-style: solid;
    text-align: center;
    transition: 150ms ease;
}

#vantagens__atributo:focus {
    outline: none;
}

#vantagens__atributo-solo {
    font-size: 15px;
    font-style: normal;
    padding: 5px 0px;
    border-radius: 50px;
    appearance: none;
    border-style: solid;
    text-align: center;
    transition: 150ms ease;
}

#vantagens__atributo-solo:focus {
    outline: none;
}

.prc_atr_n {
    color: #ffe1a8;
    font-family: "sylfaen";
    font-style:italic;
    background-color: rgb(23, 11, 0);
    border-color: #6b3400;
    box-shadow: 0 10px 25px black;
    transition: 150ms ease;
}

.prc_atr_n:hover {
    background-color: rgb(34, 17, 1);
}

.prc_atr_c {
    color: rgb(23, 21, 10);
    font-family: "cataclism";
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.406);
    background-color: rgb(189, 168, 83);
    border-color: rgb(54, 47, 20);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.745);
    transition: 150ms ease;
}

.prc_atr_c:hover {
    background-color: rgb(198, 176, 92);
}

#botao-rolar {
    cursor: pointer;
    border-radius: 10px;
    padding: 0px 40px;
    margin: 1%;
    transition: 150ms ease;
}

#botao-rolar:hover {
    padding: 5px 45px;
    width: 4.2%;
}

.botao-n {
    border-color: #ffe1a8;
    border-style: solid;
    background-image: url("assets/botaoaquarela.png");
    background-size:cover;
    box-shadow: 0px 0px 50px #ffe1a8;
    transition: 150ms ease;
}

.botao-n:hover {
    background-image: url("assets/botaoaquarelahover.png");
    border-style: solid;
}

.botao-c {
    border: 5px solid transparent;
    border-image: linear-gradient(to left, rgb(141, 77, 141), rgb(51, 0, 88), rgb(0, 0, 154), rgb(0, 88, 0), rgb(163, 163, 0), rgb(163, 106, 0), rgb(150, 0, 0));
    border-image-slice: 1;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.491);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.866);
    transition: 150ms ease;
}

.botao-c:hover {
    background-color: rgba(0, 0, 0, 0.367);
    border-style: solid;
}

.valores-iniciais {
    display: flex;
    flex-direction: row;
}

.valoresiniciais-n {
    font-family: "sylfaen";
    font-size: 110%;
    font-weight: 300;
    color:#bba170;
}

.resultadoinicial-n {
    font-family: "sylfaen";
    font-size: 160%;
    font-weight: 300;
    color:#dabb82;
}

.resultadofinal-n {
    font-family: "sylfaen";
    color:#ffe1a8;
    font-size: 300%;
    font-weight: bold;
    text-shadow: 0px 0px 30px #ffe1a8;
    margin-top: -0.2%;
}

.valoresiniciais-c {
    font-family: "cataclism";
    font-size: 100%;
    font-weight: 800;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.57);
    color: rgb(66, 60, 29);
}

.resultadoinicial-c {
    font-family: "cataclism";
    font-size: 150%;
    font-weight: 600;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.57);
    color:rgb(49, 45, 22);
}

.resultadofinal-c {
    background-image: linear-gradient(to left, rgb(206, 112, 206), indigo, blue, green, yellow, orange, red);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.57);
    font-size: 360%;
    font-family: "cataclism";
    font-weight: bold;
}

#titulo2 {
    margin-top:60px;
}

#comparaSize {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 0%;
    gap: 5px;
    background-size: 610px;
    background-repeat: no-repeat;
    background-position: 50% 56%;
    background-attachment: fixed;
    padding-bottom: 9%;
    font-style: normal;   
}

#size-type {
    font-size: 18px;
    font-style: normal;
    margin-bottom: 20px;
    border-radius: 5px;
    border-style: dashed;
    transition: 150ms ease;
}

#size-type:hover {
    border-style: solid;
}

#size-type:focus {
    outline: none;
}

#altura-escolha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

#eu-altura {
    font-size: 20px;
    font-style: normal;
    border-radius: 20px;
    appearance: none;
    border-style: solid;
    text-align: center;
    height: 50px;
    width: 200px;
}

#ele-altura {
    font-size: 20px;
    font-style: normal;
    border-radius: 20px;
    appearance: none;
    border-style: solid;
    text-align: center;
    height: 50px;
    width: 200px;
}

#eu-altura2 {
    font-size: 22px;
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
    width: 210px;
}

#ele-altura2 {
    font-size: 22px;
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
    width: 210px;
}

#eu-altura3 {
    font-size: 22px;
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
    width: 210px;
}

#ele-altura3 {
    font-size: 22px;
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
    width: 210px;
}

#botao-compararsize {
    cursor: pointer;
    border-radius: 10px;
    padding: 0px 40px;
    margin: 3px;
    transition: 150ms ease;
}

#botao-compararsize:hover {
    padding: 5px 45px;
    width: 4.2%;
}

#ataque-vantagem {
    font-size: 30px;
}

#esquiva-vantagem {
    font-size: 30px;
}

#dano-adicional {
    font-size: 30px;
}

.ataquevantagem-n {
    font-family: "sylfaen";
    font-size: 110%;
    font-weight: bold;
    color:#dabb82;
    text-shadow: 0px 0px 30px #dabb82;
}

.esquivavantagem-n {
    font-family: "sylfaen";
    font-size: 160%;
    font-weight: bold;
    color:#dabb82;
    text-shadow: 0px 0px 30px #dabb82;
}

.danoadicional-n {
    font-family: "sylfaen";
    color:#dabb82;
    font-size: 400;
    font-weight: bold;
    text-shadow: 0px 0px 30px #dabb82;
}

.ataquevantagem-c {
    padding-top: 10px;
    font-family: "cataclism";
    font-size: 100%;
    font-weight: bold;
    background-image: linear-gradient(to left, indigo, blue, green, rgb(179, 116, 0), red);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.57);
}

.esquivavantagem-c {
    font-family: "cataclism";
    font-size: 100%;
    font-weight: bold;
    background-image: linear-gradient(to left, indigo, blue, green, rgb(179, 116, 0), red);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.57);
}

.danoadicional-c {
    background-image: linear-gradient(to left, indigo, blue, green, rgb(179, 116, 0), red);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.57);
    font-size: 100%;
    font-weight: bold;
    font-family: "cataclism";
}

#codigo {
    height: 80%;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: -240px;
    margin-right: 20px;
}

.perso-e-codigo {
    display: flex;
    flex-direction: row;
    gap: 0px;
}