@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
@font-face {
    font-family: "cataclism";
    src: url(fonts/Inkfree.ttf);
}
@font-face {
    font-family: "avara";
    src: url(fonts/Avara-Bold.otf);
}
@font-face {
    font-family: "avara-bold";
    src: url(fonts/Avara-Black.otf);
}
@font-face {
    font-family: "avara-bolditalic";
    src: url(fonts/Avara-BoldItalic.otf);
}
@font-face {
    font-family: "apocalipsis";
    src: url(fonts/Higher\ Jump.ttf);
}

body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    background-color: black;
}

.noturno {
    background-image: url(assets/ApocalipseFundo.png);
    transition: 150ms ease;
}

.claro {
    background-image: url(assets/ApocalipseFundo.png);
    transition: 150ms ease;
}

.noturno-2 {
    background-image: url(assets/ApocalipseFundo2.png);
    transition: 150ms ease;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.personagem {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#personagens-escolha {
    font-size: 9px;
    padding: 10px;
    line-height: 25px;
    padding-left: 34px;
    padding-right: 34px;
    border-radius: 10px;
    border-style: dashed;
    appearance: none;
    font-weight:600;
    transition: 150ms ease;
}

#apocalipse {
    font-family: "apocalipsis";
    font-size: 9px;
    font-style: normal;
    background-color: rgb(45, 38, 42);
    color: #ff0000;
}

#cosmo {
    font-size: 20px;
    font-family: "Doto", sans-serif;
    background-color: rgb(0, 17, 26);
    color: #00ff95;
}

#cataclismo {
    font-size: 20px;
    font-family: "cataclism";
    background-color: rgb(67, 0, 0);
    color: #f6ff00;
}

#aquarela {
    font-size: 20px;
    font-family: "cataclism";
    font-weight: bold;
    color:rgb(255, 225, 0);
    background-color: rgb(102, 164, 226);
}

#tormenta {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color:aqua;
    background-color: rgb(88, 0, 129);
}

#tema-secreto-1 {
    font-size: 20px;
    font-family: "Big Shoulders", sans-serif;
    font-weight: bold;
    color:rgb(197, 152, 120);
    background-color: rgb(0, 96, 0);
}

#tema-escolha {
    font-size: 9px;
    padding: 10px;
    line-height: 25px;
    padding-right: 34px;
    border-radius: 10px;
    border-radius: 10px;
    border-style: dashed;
    appearance: none;
    font-weight:600;
    transition: 150ms ease;
}

#tema-escolha:hover {
    border-style: solid;
    cursor: pointer;
}

#personagens-escolha:hover {
    border-style: solid;
    cursor: pointer;
}

#personagens-escolha:focus {
    outline: none;
}

.cabecalhos-n {
    font-family: "apocalipsis";
    color:rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
    box-shadow: 0 10px 25px rgb(0, 0, 0);
    transition: 150ms ease;
}

.cabecalhos-n:hover {
    background-color: rgb(17, 0, 24);
}

.cabecalhos-c {
    font-family: "apocalipsis";
    color:rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
    box-shadow: 0 10px 25px rgb(0, 0, 0);
    transition: 150ms ease;
}

.cabecalhos-c:hover {
    background-color: rgb(17, 0, 24);
}

.funcoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -10.5%;
    gap: 20px;
    filter: hue-rotate(220deg);
}

#funcao-rolar {
    transition: 150ms ease;
}

#funcao-rolar:hover {
    filter:invert();
}

#funcao-atributo {
    transition: 150ms ease;
}

#funcao-atributo:hover {
    filter:invert();
}

#funcao-size {
    transition: 150ms ease;
}

#funcao-size:hover {
    filter:invert();
}

#funcao-mapa {
    transition: 150ms ease;
}

#funcao-mapa:hover {
    filter:invert();
}

.botoes-superiores {
    margin-top: 23px;
    width: 80px;
}

.botoes-superiores:hover {
    cursor: pointer;
}

.aparencia {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#modos {
    transition: 150ms ease;
}

#modos:hover {
    cursor: pointer;
    filter:invert();
}

.invisivel {
    display:none;
}

p {
    font-size: 350%;
    margin: 0;
}

#testeroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: -0.7%;
    gap: 5px;
    background-size: 580px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
    padding-bottom: 9%;
    font-style: normal;
}

.testeroll_n {
    background-image: url(assets/boxapocalipse.png);
    transition: 150ms ease;
}

.testeroll_c {
    background-image: url(assets/boxapocalipse.png);
    transition: 150ms ease;
}

.rolenoturno {
    font-family: "apocalipsis";
    font-size: 25px;
    margin-top: 4.8%;
    color:#ff0000;
    text-shadow: 0px 0px 30px #ff0000;
}

.roleclaro {
    font-family: "apocalipsis";
    font-size: 25px;
    margin-top: 4.8%;
    color:#ff0000;
    text-shadow: 0px 0px 30px #ff0000;
}

#testeroll__pericia {
    font-size: 9px;
    padding: 10px;
    line-height: 25px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
    transition: 150ms ease;
}

#testeroll__pericia:hover {
    border-style: solid;
    cursor: pointer;
}

#testeroll__pericia:focus {
    outline: none;
}

#testeroll__atributo {
    font-size: 9px;
    padding: 10px;
    line-height: 25px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
    transition: 150ms ease;
}

#testeroll__atributo:hover {
    border-style: solid;
    cursor: pointer;
}

#testeroll__atributo:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}

#vantagens__pericia {
    font-size: 9px;
    font-style: normal;
    padding: 5px;
    border-radius: 50px;
    appearance: none;
    border-style: solid;
    text-align: center;
    transition: 150ms ease;
}

#vantagens__pericia:focus {
    outline: none;
}

#vantagens__atributo {
    font-size: 9px;
    font-style: normal;
    padding: 5px;
    border-radius: 50px;
    appearance: none;
    border-style: solid;
    text-align: center;
    transition: 150ms ease;
}

#vantagens__atributo:focus {
    outline: none;
}

#vantagens__atributo-solo {
    font-size: 9px;
    font-style: normal;
    padding: 5px;
    border-radius: 50px;
    appearance: none;
    border-style: solid;
    text-align: center;
    transition: 150ms ease;
}

#vantagens__atributo-solo:focus {
    outline: none;
}

.prc_atr_n {
    color: #ff0051;
    font-family: "apocalipsis";
    font-style:italic;
    background-color: rgb(23, 0, 7);
    border-color: #5b1729;
    box-shadow: 0 10px 25px black;
    transition: 150ms ease;
}

.prc_atr_n:hover {
    background-color: rgb(41, 1, 12);
}

.prc_atr_c {
    color: #ff0051;
    font-family: "apocalipsis";
    font-style:italic;
    background-color: rgb(23, 0, 7);
    border-color: #5b1729;
    box-shadow: 0 10px 25px black;
    transition: 150ms ease;
}

.prc_atr_c:hover {
    background-color: rgb(41, 1, 12);
}

#botao-rolar {
    cursor: pointer;
    border-radius: 10px;
    padding: 0px 40px;
    margin: 1%;
    transition: 150ms ease;
}

#botao-rolar:hover {
    padding: 5px 45px;
    width: 4.2%;
}

.botao-n {
    border-color: #ff0080e0;
    border-style: solid;
    background-color:#2e0017;
    box-shadow: 0px 0px 50px #ff0080e0;
    transition: 150ms ease;
}

.botao-n:hover {
    background-color: #4e0027;
    border-style: solid;
}

.botao-c {
    border-color: #ff0080e0;
    border-style: solid;
    background-color:#2e0017;
    box-shadow: 0px 0px 50px #ff0080e0;
    transition: 150ms ease;
}

.botao-c:hover {
    background-color: #4e0027;
    border-style: solid;
}

.valores-iniciais {
    display: flex;
    flex-direction: row;
}

.valoresiniciais-n {
    font-family: "apocalipsis";
    font-size: 10px;
    font-weight: 100;
    color: rgb(255, 0, 157);
}

.resultadoinicial-n {
    font-family: "apocalipsis";
    font-size: 12px;
    font-weight: 100;
    color:rgb(255, 0, 81);
}

.resultadofinal-n {
    font-family: "apocalipsis";
    margin-top: -0.5%;
    color:rgb(255, 0, 0);
    font-size: 25px;
    font-weight: normal;
    text-shadow: 0px 0px 30px rgb(255, 0, 0);
}

.valoresiniciais-c {
    font-family: "apocalipsis";
    font-size: 10px;
    font-weight: 100;
    color: rgb(255, 0, 157);
}

.resultadoinicial-c {
    font-family: "apocalipsis";
    font-size: 12px;
    font-weight: 100;
    color:rgb(255, 0, 81);
}

.resultadofinal-c {
    font-family: "apocalipsis";
    margin-top: -0.5%;
    color:rgb(255, 0, 0);
    font-size: 25px;
    font-weight: normal;
    text-shadow: 0px 0px 30px rgb(255, 0, 0);
}

.super-critico-n {
    color:cyan;
    animation: super-critico-glow 0.3s ease-in-out infinite alternate;
}

.super-critico-c {
    color:cyan;
    animation: super-critico-glow 0.3s ease-in-out infinite alternate;
}

.critico-n {
    color:rgb(0, 255, 13);
    animation: critico-glow 0.5s ease-in-out infinite alternate;
}

.critico-c {
    color:rgb(0, 255, 13);
    animation: critico-glow 0.5s ease-in-out infinite alternate;
}

.desastre-n {
    color:rgb(255, 0, 0);
    animation: desastre-glow 0.5s ease-in-out infinite alternate;
}

.desastre-c {
    color:rgb(255, 0, 0);
    animation: desastre-glow 0.5s ease-in-out infinite alternate;
}

.super-desastre-n {
    color:rgb(191, 0, 255);
    animation: super-desastre-glow 0.3s ease-in-out infinite alternate;
}

.super-desastre-c {
    color:rgb(191, 0, 255);
    animation: super-desastre-glow 0.3s ease-in-out infinite alternate;
}

@keyframes super-critico-glow {
  from {
    text-shadow: 0px 0px 20px lime, 0px 0px 20px lime, 0px 0px 30px lime;
  }
  to {
    text-shadow: 0px 0px 20px cyan, 0px 0px 30px cyan, 0px 0px 40px cyan, 0px 0px 50px cyan;
  }
}

@keyframes critico-glow {
  from {
    text-shadow: 0px 0px 20px rgb(0, 255, 13), 0px 0px 30px rgb(0, 255, 13);
  }
  to {
    text-shadow: 0px 0px 20px rgb(0, 255, 13), 0px 0px 30px rgb(0, 255, 13), 0px 0px 40px rgb(0, 255, 13), 0px 0px 50px rgb(0, 255, 13);
  }
}

@keyframes desastre-glow {
  from {
    text-shadow: 0px 0px 20px red, 0px 0px 30px red;
  }
  to {
    text-shadow: 0px 0px 20px red, 0px 0px 30px red, 0px 0px 40px red, 0px 0px 50px red;
  }
}

@keyframes super-desastre-glow {
  from {
    text-shadow: 0px 0px 20px red, 0px 0px 20px red, 0px 0px 30px red;
  }
  to {
    text-shadow: 0px 0px 20px rgb(191, 0, 255), 0px 0px 30px rgb(191, 0, 255), 0px 0px 40px rgb(191, 0, 255), 0px 0px 50px rgb(191, 0, 255);
  }
}

#titulo2 {
    margin-top:80px;
}

#comparaSize {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 0.7%;
    gap: 5px;
    background-size: 610px;
    background-repeat: no-repeat;
    background-position: 50% 56%;
    background-attachment: fixed;
    padding-bottom: 9%;
    font-style: normal;   
}

#size-type {
    font-size: 9px;
    font-style: normal;
    margin-bottom: 5px;
    border-radius: 5px;
    border-style: dashed;
    transition: 150ms ease;
}

#size-type:hover {
    border-style: solid;
}

#size-type:focus {
    outline: none;
}

#altura-escolha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

#eu-altura {
    font-size: 9px;
    font-style: normal;
    border-radius: 20px;
    appearance: none;
    border-style: solid;
    text-align: center;
    height: 50px;
    width: 200px;
}

#ele-altura {
    font-size: 9px;
    font-style: normal;
    border-radius: 20px;
    appearance: none;
    border-style: solid;
    text-align: center;
    height: 50px;
    width: 200px;
}

#eu-altura2 {
    font-size: 9px;
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
    width: 210px;
}

#ele-altura2 {
    font-size: 9px;
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
    width: 210px;
}

#eu-altura3 {
    font-size: 9px;
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
    width: 210px;
}

#ele-altura3 {
    font-size: 9px;
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    border-style: dashed;
    text-align: center;
    width: 210px;
}

#botao-compararsize {
    cursor: pointer;
    border-radius: 10px;
    padding: 0px 40px;
    margin: 3px;
    transition: 150ms ease;
}

#botao-compararsize:hover {
    padding: 5px 45px;
    width: 4.2%;
}

#ataque-vantagem {
    font-size: 15px;
}

#esquiva-vantagem {
    font-size: 15px;
}

#dano-adicional {
    font-size: 15px;
}

.ataquevantagem-n {
    font-family: "apocalipsis";
    color: rgb(255, 0, 157);
    text-shadow: 0px 0px 30px rgb(255, 0, 157);
}

.esquivavantagem-n {
    font-family: "apocalipsis";
    color:rgb(255, 0, 81);
    text-shadow: 0px 0px 30px rgb(255, 0, 81);
}

.danoadicional-n {
    font-family: "apocalipsis";
    color:rgb(255, 0, 0);
    text-shadow: 0px 0px 30px rgb(255, 0, 0);
}

.ataquevantagem-c {
    font-family: "apocalipsis";
    color: rgb(255, 0, 157);
    text-shadow: 0px 0px 30px rgb(255, 0, 157);
}

.esquivavantagem-c {
    font-family: "apocalipsis";
    color:rgb(255, 0, 81);
    text-shadow: 0px 0px 30px rgb(255, 0, 81);
}

.danoadicional-c {
    font-family: "apocalipsis";
    color:rgb(255, 0, 0);
    text-shadow: 0px 0px 30px rgb(255, 0, 0);
}

#codigo {
    font-size: 7px;
    height: 80%;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: -190px;
}

.perso-e-codigo {
    display: flex;
    flex-direction: row;
    gap: 0px;
}